html {
    background-color: rgb(24, 221, 172);
}

div {
    background-color: rgb(24, 221, 172);
}

h1.top-text {
    position: absolute;
    top: 10%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
    width: 220px;
    height: 100px;
}

.line {
    position: absolute;
    top: 5%;
    left: 37.5%;
}

.mission-statement {
    position: absolute;
    text-align: center;
    top: 23%;
    left: 42.5%;
    margin-top: -50px;
    margin-left: -50px;
    width: 300px;
    font-size: medium;
}

.login {
    position: absolute;
    left: 75%;
    border-color: black;
}

.email {
    position: fixed;
    top: 1%;
    right: 20%;
}

.password {
    position: fixed;
    top: 1%;
    right: 5%;

}

div.form-group {
    width: 100px;
    height: 100px;
}

.primary {
    position: fixed;
    top: 10%;
    right: 5.7%;
    width: 400px;
}
#pageButtons {
    position: absolute;
    top: 60%;
    left: 10%;
}
