html {
    background-color: rgb(24, 221, 172);
}

body {
    background-color: rgb(24, 221, 172);
}

.mission-statement {
    text-align: center;
    width: 300px;
    font-size: medium;
}

.login {
    position: absolute;
    left: 75%;
    border-color: black;
}

.email {
    position: fixed;
    top: 1%;
    right: 20%;
}

.password {
    position: fixed;
    top: 1%;
    right: 5%;

}

div.form-group {
    width: 100px;
    height: 100px;
}

.primary {
    position: fixed;
    top: 10%;
    right: 5.7%;
    width: 400px;
}
#pageButtons {
    position: absolute;
    top: 60%;
    left: 10%;
}